---
import Header from '../components/Header.astro';
import PageLayout from "../layouts/MainLayout.astro"


---


<Header />

<PageLayout>

<div class="container mx-auto pt-40">



    <h1> Hello, my name is </h1>

    Hello, my name is <b> voldemort </b>

    <br>

</div>
 
<div class="container mx-auto pt-40">

    <h3 >  This is a heading 3 </h3>

    <h2>  This is a heading 2 </h2>
</div>


<div class="container  px-10">



    <h1> Hello, my name </h1>

    <b> voldemort</b>

    why
    <h3 >  Test </h3>


</div>