---
import Welcome from '../components/Welcome.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout pageTitle="Home">
  <h2>Welcome</h2>

  <p>
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
  </p>

</BaseLayout>