---
import Header from '../components/Header.astro';
import HomeLanding from '../components/Home-Landing.astro'; // Update the import statement
---

<Header />
<HomeLanding > 

  <div class="hero-background" style="background-image: url('https://kaleidos-agency.com/wp-content/uploads/headshot-500px-400x550.jpg');"></div>
  <HomeLanding /> 




