---
import PageLayout from  '../layouts/PageLayout.astro';
---


<PageLayout title='Samle Page for testing'> 

  <p>My page content, wrapped in a layout!</p>




 <img 1991-usa-tv_football_1-9x1.jpg
</PageLayout> 

