---
import { Image } from 'astro:assets';
import Navigation from './Navigation.astro';
import Hamburger from './Hamburger.astro';
---

<style>
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }

</style>

<header>
  <Image src="/logos/Flavikon_Kaleidos_K.png" alt="Kaleidos Logo"  width="50" height="50" />
  <nav>
    <Hamburger />
    <Navigation />
  </nav>
</header>

<script>

    document.querySelector(".hamburger")
        ?.addEventListener("click", () => {
            document
                .querySelector(".nav-links")
                ?.classList.toggle("expanded");
        });
</script>